{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Baku Higher Oil School - Robotics</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <!-- <link rel="stylesheet" href="plugins/css/owl.carousel.min.css"> -->
    <link rel="stylesheet" href="{% static 'plugins/css/owl.carousel.min.css' %}">
    <!-- <link rel="stylesheet" href="plugins/css/owl.theme.default.min.css"> -->
    <link rel="stylesheet" href="{% static 'plugins/css/owl.theme.default.min.css' %}">
    <link rel="stylesheet" href="plugins/css/aos.css">
    <!-- <link rel="stylesheet" href="{% static 'plugins/css/aos.css' %}"> -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet"> 
    
</head>
<body data-aos="fade-down">
    <header>
        <div id="upper_nav">
            <div class="container">
                <div class="row">
                    <div class="title">
                        <a target="_blank" href="http://www.bhos.edu.az/az/index">Baku Higher Oil School</a>
                    </div>
                </div>
            </div>
        </div>
        <div id="lower_nav">
            <nav>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-4 offset-lg-1 col-lg-2">
                            <div class="logo">
                                <a href="{% url 'core:home' %}"><img src="{% static 'assets/img/logo/bhos-logo.png' %}" alt=""></a>
                            </div>
                        </div>
                        <div class="col-2">
                            <div class="menu_btn">
                                <div class="burger_btn"></div>
                            </div>
                        </div>
                        <div class="col-lg-8">
                            <div class="navigation_bar">
                                <ul>
                                    <li><a href="{% url 'core:about' %}">About</a></li>
                                    <li><a href="{% url 'core:research' %}">Research</a></li>
                                    <li><a href="{% url 'core:vision' %}">Vision</a></li>
                                    <li><a href="{% url 'core:news' %}">News</a></li>
                                    <li><a href="{% url 'core:contact' %}">Contact</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="mobile_navigation_bar">
                                <ul>
                                    <li><a href="{% url 'core:about' %}">About</a></li>
                                    <li><a href="{% url 'core:research' %}">Research</a></li>
                                    <li><a href="{% url 'core:vision' %}">Vision</a></li>
                                    <li><a href="{% url 'core:news' %}">News</a></li>
                                    <li><a href="{% url 'core:contact' %}">Contact</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
    </header>

    <main data-aos="fade-down">

        <section id="greeting" style="background-image: url({{about.0.background_img.url}});">
            <div class="container">
                <div class="title">
                    <div class="row">
                        <h1>{{about.0.title}}</h2>
                    </div>
                </div>
            </div>
        </section>
        
        <section id="aboutus">
            <div class="container">
                
                <div class="header">
                    <h1>About</h1>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="content">
                            <p>
                                {{about.0.body}}
                            </p>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="image">
                            <img src="{{about.0.main_img.url}}" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <div class="container">
            <div class="about_line"></div>
        </div>

        <div id="accordion_about">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="accordion_item">
                            <div class="header">
                                <div class="row justify-content-between">
                                    <div class="col-2">
                                        <h2>Faculty</h2>    
                                    </div>
                                    <div class="col-2 d-flex justify-content-cente align-items-center float-right">
                                        <div class="expand">
                                            <div class="icon"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="content">
                                <p>
                                    {{about.0.faculty_text}}
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-12">
                        <div class="accordion_item">
                            <div class="header">
                                <div class="row justify-content-between">
                                    <div class="col-2">
                                        <h2>Partners</h2>    
                                    </div>
                                    <div class="col-2 d-flex justify-content-cente align-items-center float-right">
                                        <div class="expand">
                                            <div class="icon"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="content">
                                <div class="row">
                                    <div class="col-12 col-lg-4">
                                        <div class="image">
                                            <a href="{{about.0.partner_1_link}}" target="_blank"><img src="{{about.0.partner_1_img.url}}" alt="yes"></a>
                                        </div>
                                    </div>
                                    <div class="col-12 col-lg-4">
                                        <div class="image">
                                            <a href="{{about.0.partner_2_link}}" target="_blank"><img src="{{about.0.partner_2_img.url}}" alt=""></a>
                                        </div>
                                    </div>
                                    <div class="col-12 col-lg-4">
                                        <div class="image">
                                            <a href="{{about.0.partner_3_link}}" target="_blank"><img src="{{about.0.partner_3_img.url}}" alt=""></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <footer>
        <section id="university">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="name">
                            <h5><a href="{% url 'core:home' %}">Baku Higher Oil School</a></h5>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="icons">
                            <ul>
                                <li><a href="{{ links.0.facebook }}"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="{{ links.0.instagram }}"><i class="fab fa-instagram"></i></a></li>
                                <li><a href="{{ links.0.youtube }}"><i class="fab fa-youtube"></i></a></li>
                                <li><a href="{{ links.0.linkedin }}"><i class="fab fa-linkedin-in"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section id="copyright">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12 text-center">
                        <h6><p>Copyright @2020 Developed by &nbsp; <a href="https://istechlal.com/" target="_blank"> Istechlal Group</a></p></h6>
                    </div>
                </div>
            </div>
        </section>
    </footer>

    <!-- <script src="plugins/js/fontawesome.js"></script>
    <script src="plugins/js/jquery.js"></script>
    <script src="plugins/js/owl.carousel.min.js"></script>
    <script src="plugins/js/instafeed.js"></script>
    <script src="js/script.js"></script> -->
    <script src="{% static 'plugins/js/fontawesome.js' %}"></script>
    <script src="{% static 'plugins/js/jquery.js' %}"></script>
    <script src="{% static 'plugins/js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'plugins/js/instafeed.js' %}"></script>
    <script src="{% static 'plugins/js/smoove.js' %}"></script>
    <script src="{% static 'plugins/js/aos.js' %}"></script>
    <script src="{% static 'js/script.js' %}"></script>
</body>
</html>